*{
    font-family: Verdana, sans-serif;
}

h1{
    color: red;
    text-transform: uppercase;
    font-family: "Brush Script MT";
    font-size: 46px;
}

h2{
    color: green;
}

img{
    width: 500px;
    height: auto;
}

.menu ul li{
    margin-top: 20px;
    display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 20px;
    transition: 0.5s;
    margin: 0 15px;
}

.menu ul li a:hover{
    background-color: orange;
}